administrador/clienteTemp.c
administrador/cliente.o
administrador/ejecutableAdmin
administrador/interface1_clnt.o
administrador/interface1_xdr.o
administrador/interface2_clnt.o
administrador/interface2_xdr.o
AplicacionParaIniciarSesion/interface1_svc.o
AplicacionParaIniciarSesion/interface1_xdr.o
AplicacionParaIniciarSesion/servidor.o
AplicacionParaSubastaProductos/ejecutableServidorSubasta
AplicacionParaSubastaProductos/interface2_svc.o
AplicacionParaSubastaProductos/interface2_xdr.o
AplicacionParaSubastaProductos/servidor.o
cliente/cliente.o
cliente/clienteTemp.c
cliente/interface1_clnt.o
cliente/interface1_xdr.o
cliente/interface2_clnt.o
cliente/interface2_xdr.o
AplicacionParaIniciarSesion/ejecutableServidorLogin
